[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/onichandame/graphql-template
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/onichandame/gatsby-template
